.footer-wrapper {
  box-sizing: border-box;
  height: 100px;
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // right: 0;
  padding: 8px 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:#48A1B1;
  color: #F7F7F7;
}
