<div class="footer-wrapper">

  <section class="legals">
    <p><a href="" routerLink="imprint">Impressum</a></p>
    <!-- <p><a href="" routerLink="privacy-policy">Datenschutz</a></p> -->
  </section>

  <span>Mit Herz aus Berlin!</span>

  <section class="socials">
    <p><a target="_blank" href="https://github.com/AlexanderAlbrecht1">Github</a></p>
    <p><a target="_blank" href="https://www.linkedin.com/in/alexanderalbrecht1/">LinkedIn</a></p>
    <p><a target="_blank" href="https://alexander-albrecht.dev">Website</a></p>
  </section>

</div>
