@use '../../../styles.scss' as *;

.footer-wrapper {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #1f2937;
  border-top: 1px solid #e5e7eb;
}

span {
  font-family: 'DM Serif Text';
  font-size: 24px;
}
