@use "../../../styles.scss" as *;

.footer-wrapper {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  // height: 100px;
  padding: 8px 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:#FFFFFF;
  color: #1F2937;
  border-top: 1px line #E5E7EB;
}

a{
  all: unset;
  color: $linkFont;
  &:hover {
    cursor: pointer;
    color: $linkSocialFont;
  }
}
