@use "../../../styles.scss" as *;

.header-wrapper {
  box-sizing: border-box;
  padding: 8px 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:#48A1B1;
  color: #F7F7F7;
}
