@use "../../../styles.scss" as *;

.header-wrapper {
  box-sizing: border-box;
  padding: 8px 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:#FFFFFF;
  color: #1F2937;
  border-bottom: 1px solid #E5E7EB;
  >img {
    width: 60px;
    height: 50px;
    &:hover {
      cursor: pointer;
    }
  }
}
