<div class="wrapper-login">
  <h1 style="margin-bottom: 32px;">Herzlich Willkommen bei DeskSense!</h1>
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title style="margin-bottom: 16px;">Einloggen</mat-card-title>
      <mat-card-subtitle>Bitte logge die in deinem persönlichen DeskSense ein.</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="wrapper-login">
        <mat-form-field style="width: 100%">
          <mat-label>Deine Emailadresse eingeben</mat-label>
          <input
            matInput
            placeholder="pat@example.com"
            [formControl]="email"
            (blur)="updateErrorMessage()"
            required
          />
          @if (email.invalid) {
          <mat-error>{{ errorMessage() }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field style="width: 100%">
          <mat-label>Dein Passwort eingeben</mat-label>
          <input matInput [type]="hide() ? 'password' : 'text'" required [formControl]="password" />
          <button
            matIconButton
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>

        <div class="btn" (click)="login()" matTooltip="Klicken zum Einloggen">
          <p>Einloggen</p>
        </div>


        <div class="mt-32" [routerLink]="['/register']" matTooltip="Klicke um dich zu registrieren" >
          <a>Noch keinen DeskSense-Account?</a>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
</div>
