@use "../../../styles.scss" as *;
@use '@angular/material' as mat;

.mat-mdc-dialog-content {
  display: flex !important;
  flex-direction: column !important;
}

.clickable {
  &:hover {
    cursor: pointer;
    background-color: #D1D9D3;
  }
}

.selected {
  background-color: #D1D9D3;
}
