@use "../../../styles.scss" as *;

.wrapper-main {
  padding-bottom: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $bgGreen;
  color: $fontBlack;
}

h1 {
  margin-bottom: 100px;
  font-size: 64px;
}

.button-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  gap: 64px;

}

.flex-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
