@use '@angular/material' as mat;

// html, body {
//   height: 100% !important;
//   margin: 0;
//   padding: 0;
// }

/* Global Styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* Header & Footer */
app-header,
app-footer {
  flex-shrink: 0;
}


html {
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$headlineButtonsFont: #1F2937;
$bodyFont: #4B5563;
$primary: #4C89FF;
$mainBg: #F5F7FA;
$btn: #4C89FF;
$btnHover: #3B6ED6;
$linkFont: #4B5563;
$linkFontHover: #6EE7B7;
$linkSocialFont: #4C89FF;
$matTitleFont: #1F2937;

.btn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  max-width: 300px;
  // border: 2px solid $bgGrey;
  border-radius: 25px;
  background-color: $btn;
  // box-shadow: 5px 10px 8px $bgGrey;
  font-family: 'DM Serif Text';
  >p {
    all: unset;
    font-size: 32px;
    color: $headlineButtonsFont;
  }
  &:hover {
    cursor: pointer;
    background-color: $btnHover;
    // box-shadow: 5px 10px 8px $hoverPurple;
  }
}

a {
  all: unset;
  color: $linkFont;
  &:hover {
    cursor: pointer;
    color: $linkSocialFont;
  }
}

:root {
  @include mat.dialog-overrides((
    container-color: #D1D9D3,
    container-min-width: 600px,
    container-max-width: 800px,
  ));
}

.mat-mdc-dialog-container {
  max-width: unset !important;
}

.mt-32 {
  margin-top: 32px;
}

/* dm-serif-text-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Serif Text';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/dm-serif-text-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


