
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html, body {
  height: 100% !important;
  margin: 0;
  padding: 0;
}


html {
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$bgGreen: #759276;
$bgGrey: #424543;
$fontWhite: #F7F7F7;
$fontBlack: #130404;
$hoverPurple: #B89EB7;
$hoverPurpleDark: #6C566B;
$dialogGrey: #D1D9D3;

.btn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  max-width: 300px;
  // border: 2px solid $bgGrey;
  border-radius: 25px;
  box-shadow: 5px 10px 8px $bgGrey;
  >p {
    all: unset;
    font-size: 32px;
  }
  &:hover {
    cursor: pointer;
    background-color: $hoverPurpleDark;
    box-shadow: 5px 10px 8px $hoverPurple;
    color: $fontWhite;
  }
}

:root {
  @include mat.dialog-overrides((
    container-color: #D1D9D3,
    container-min-width: 600px,
    container-max-width: 800px,
  ));
}

.mat-mdc-dialog-container {
  max-width: unset !important;
}



